body {
    background-image: url("/image/anima1.jpg");
}

#gname {
    font-size: 100px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 25px rgb(175, 15, 200);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

#front {
    align-items: center;
    align-content: center;
    text-align: center;
}

p {
    text-shadow: 0 0 25px rgb(175, 15, 200);
}

button a {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 25px rgb(175, 15, 200);
}

button {
    height: 70px;
    width: 200px;
    border-radius: 60px;
    font-size: 30px;
    box-shadow: 0 0 25px rgb(185, 15, 200);
    border: 1px solid rgb(175, 15, 200);
    transition-duration: 1s;
    /* transition-delay: 2s; */
    transition-timing-function: ease-in;
}

footer a {
    text-decoration: none;
}

footer {
    margin: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

#dev img {
    border-radius: 50px;
    border: 1px solid rgb(175, 15, 200);
    box-shadow: 0 0 25px rgb(185, 15, 200);
}

#dev {
    margin: 0;
    padding: 0;
}

button::after {
    content: " >";
}

button:hover {
    background-color: black;
    color: white;
}

button a:hover {
    color: white;
}